extends layout 

block layout-content 
    .View.WelcomeView 
        br
        h1.Banner ATN Toy Shop
        .Image 
        img(src="download.jpg", alt="center")
        .Message 
            .Title 
                h3 Teddy Bear
                h1 $20
            
            <button onclick="functionToExecute()">Click to see more</button>
            .Image 
        
        .NavButtons 
            a(href="/user")
                div.NavButton See more
                
